
@media only screen and (max-width: 1200px) {
    
    .profileSection {
        display: none;
    }
    
    .pitch-box {
        display: none;
    }
}

@media only screen and (max-width: 601px) {
    
    .text-icon {
        display: none;
    }
    
    .searchBar {
        width: 80%;
    }
    
    .menuText {
        display: none;
    }
}