@media only screen and (max-width: 1200px) {
 
    .profileSection {
        display: none;
    }
    
    .pitch-box {
        display: none;
    }
    
    .searchBar {
        width: 60%;
    }

}

@media only screen and (max-width: 690px) {
    
    body {
        font-size: 80%;
    }
    
    .searchBar {
        width: 80%;
    }
    
    .text-icon {
        display: none;
    }
    
    .main-nav {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .homeMenu div {
        margin: 100px 10px 40px;
        width: 180px;
        height: 180px;
    }
    
    .footer {
        padding-top: 30px;
    }
    
    .footer-social,
    .footer-nav {
        width: 100%;
        text-align: center;
    }
    
    .footer-social ul,
    .footer-nav ul {
        padding: 0;
    }
    
    .downloadApp {
        margin: 10px auto;
    }
    
    .downloadApp img {
        height: 45px;
        margin: 0 10px;
    }
    
    .planetDetails figure {
        height: 130px;
        width: 160px;
        display: block;
    }
    
    .left, 
    .right {
        display: block;
        width: 100%;
        text-align: center;
    }
    
}