/*-------------------------
GLOBAL
-------------------------*/
/** {
  border: 2px solid black;
}*/

/* Blue #163d88 
    light blue #225FD4
    text white #c4c4c4
*/


body {
    color: #c4c4c4;
    background-image: url(../imgs/sun-earth-shadow.jpg);
    background-size: 100% 100%;
    font-size: 16px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    font-family: 'Lato', sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

/*-------------------------
TITLE
-------------------------*/

.title {
    height: 98vh;
    width: 100%;
    background-image: url(../imgs/sun-earth-shadow.jpg);
    background-size: 100% 100%;
}

.tagline {
    letter-spacing: 2px;
    font-size: 260%;
    font-weight: 300;
    display: block;
}

.searchBar {
    margin-top: 30px;
    text-align: center;
    font-size: 100%;
}

.searchBar input {
    font-size: 100%;
    margin-right: 10px;
    width: 30%;
}

.searchBar button {
    font-size: 100%;
    cursor: pointer;
    color: inherit;
    background-color: #163d88;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.searchBar button:hover {
    background-color: #225FD4;
}

/*-------NAVBAR----------*/

.navbar {
    display: block;
    position: absolute;
    width: 100%;
}

.text-icon {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 120%;
    position: relative;
    display: inline-block;
    width: 20%;
}

.main-nav {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    list-style: none;
    text-align: right;
    width: 70%;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li:first-of-type {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #eee;
}

.main-nav button {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.logIn,
.logIn:link,
.logIn:visited {
    border: 1px solid transparent;
    background-color: transparent;
}

.logIn:hover,
.logIn:active {
    background-color: #676767;
}

.signUp {
    background-color: #163d88;
    border: 1px solid transparent;
}

.signUp:hover {
    background-color: #225FD4;
}
