/*-------------------------
GLOBAL
-------------------------*/
/** {
  border: 2px solid white;
}*/

/* 
    Colors

    dark Blue #163d88 
    blue #225FD4
    light blue #2972FF
    purple #473E6E
    text white #c4c4c4
    black #262626
    unobtrusive grey #848484;
*/

body {
    color: #c4c4c4;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: black;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

button {
    border: 1px solid transparent;
    color: inherit;
    cursor: pointer;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.left {
    display: inline-block;
    width: 45%;
    text-align: left;
}

.right {
    display: inline-block;
    width: 45%;
    text-align: right;
}

/*-------------------------
TITLE
-------------------------*/

.title {
    min-height: 98vh;
    width: 100%;
    background-image: url(../imgs/sun-earth-shadow.jpg);
    background-size: 100% 100%;
}

.tagline {
    letter-spacing: 2px;
    font-size: 260%;
    font-weight: 300;
    display: block;
    padding-top: 250px;
    text-align: center;
    position: relative;
    z-index: 0;
}

/*-------------------------
NAVBAR
--------------------------*/

.navbar {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.text-icon {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 120%;
    position: relative;
    display: inline-block;
    width: 20%;
}

.main-nav {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    list-style: none;
    text-align: right;
    width: 70%;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li:first-of-type {
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #eee;
}

.main-nav button {
    font-family: inherit;
    font-size: 100%;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.logIn,
.logIn:link,
.logIn:visited { 
    background-color: transparent;
}

.logIn:hover,
.logIn:active {
    background-color: #676767;
}

.signUp {
    background-color: #225FD4;
}

.signUp:hover {
    background-color: #2972FF;
}

/*-------------------------
SEARCH BAR
--------------------------*/

.searchBar {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    width: 40%;
    padding: 15px;
}

.searchBar input {
    font-size: 100%;
    margin-right: 10px;
    width: 80%;
    border-radius: 5px;
    height: 30px;
    background-color: rgba(238, 238, 238, 0.8);
}

.searchBar button {
    font-size: 100%;
    background-color: #225FD4;
    border-radius: 5px;
    padding: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.searchBar button:hover {
    background-color: #2972FF;
}

/*-----------------------------
HOME MENU
-------------------------------*/

.homeMenu {
    display: flex;
    width: 100%;
    justify-content: center;
}

.homeMenu div {
    margin: 100px 30px 40px;
    width: 180px;
    height: 180px;
    display: block;
    text-align: center;
    background-color: #473E6E;
    border-radius: 15px;
    cursor: pointer;
}

.homeMenu div img {
    margin: 10px auto;
    height: 100px;
    width: 100px;
    display: block;
}

/*---------------------------
FOOTER
---------------------------*/

.footer {
    width: 100%;
    color: #848484;
    padding-top: 60px;
}

.downloadApp {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.downloadApp img {
    width: auto;
    height: 60px;
    opacity: 0.7;
    margin: 0 20px;
}

.footer-nav,
.footer-social {
    position: relative;
    display: inline-block;
    list-style: none;
}

.footer-nav li, 
.footer-social li {
    display: inline-block;
    margin-left: 20px;
}

.footer-social {
    width: 40%;
    text-align: left;
}

.footer-nav {
    width: 60%;
    text-align: right;
}

.footer-nav li:hover {
    color: #c4c4c4;
}

.footer-social li .fa-facebook:hover { color: #3b5998; }

.footer-social li .fa-twitter:hover { color: #00aced; }

.footer-social li .fa-instagram:hover { color: #bc2a8d; }

.footer-social li .fa-linkedin:hover { color: #0e76a8; }

.footer-social li .fa-google-plus:hover { color: #dd4b39; }

.footer-notes {
    margin-top: 15px;
    font-size: 70%;
    width: 100%;
    text-align: center;
}

/*-------------------------
BROWSE
-------------------------*/

.browsePage {
    width: 100%;
    padding-bottom: 30px;
    background-image: url(../imgs/stars-background.jpg);
    background-repeat: repeat;
    size: contain;
    padding-top: 100px;
    color: #262626;
}

.browseDisplay {
    margin: 0 auto;
    width: 80%;
    min-height: 600px;
    background-color: rgba(238, 238, 238, 0.7);
}

.topBar {
    position: relative;
    border-bottom: 3px solid black;
    padding: 15px 0 10px 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 130%;
}

.botBar {
    position: relative;
    border-top: 3px solid black;
    padding: 10px 0 15px 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 130%;
}

/*----------------------
DETAILS COMPONENT
----------------------*/

.planetDetails {
    min-height: 60px;
    width: auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.9);
    text-align: center;
}

.planetDetails figure {
    height: 170px;
    width: 200px;
}

.planetDetails figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.name,
.price { font-size: 130%; }

.planetDetails button {
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    padding: 8px;
    color: #ededed;
    font-weight: 400;
    letter-spacing: 1px;
    width: 60px;
}

.planetDetails button:hover {
    opacity: 0.7;
}

.buyBtn {
    background-color: #29ad23;
}

.rentBtn {
    background-color: #e38415;
}

/*-------------------------
PITCH
--------------------------*/

.pitch {
    background-image: url(../imgs/galaxy-pitch.jpeg);
    background-size: 100% 100%;
    min-height: 80vh;
}

/*-------------------------
PROFILES
--------------------------*/

.profileSection {
    padding-top: 15px;
}

.profileSection h2{
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 300%;
    font-weight: 300;
}

.profiles {
    position: relative;
    min-height: 320px;
    margin: 0 auto;
    width: 100%;
}

.man1,
.woman1,
.woman2 {
    max-height: 300px;
    position: absolute;
    z-index: 100;
    bottom: 0;
}

.woman1 { right: 0; }

.banner-left,
.banner-right {
    max-height: 100px;
    max-width: 60%;
    position: absolute;
    bottom: 0;
    z-index: 50;
}

.banner-left { left: 0; }

.banner-right { right: 0; }

.profiles span {
    position: absolute;
    z-index: 100;
    bottom: 24px;
    color: #262626;
    font-size: 140%;
}

.profile1 span,
.profile3 span{
    left: 28%;
}

.profile2 span { right: 28%; }

.profiles p{
    position: absolute;
    max-width: 30%;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.53);
    padding: 15px;
}

.profile1 p,
.profile3 p{
    right: 10%;
}

.profile2 p{
    left: 10%;
}

.profile1 { background-color: rgba(68, 73, 133, 0.75); }

.profile2 { background-color: rgba(107, 63, 123, 0.75); }

.profile3 { background-color: rgba(71, 62, 110, 0.75); }